.tocButton {
  position: fixed;
  right: 10px;
  top: 50%;
  background: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
}

.tocButton:hover {
  background: #0056b3;
}

.tableOfContents {
  position: fixed;
  right: 10px;
  top: 10%;
  width: 250px;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80%;
  border-radius: 5px;
}

.tableOfContents a {
  display: block;
  padding: 5px 0;
  color: #007bff;
  text-decoration: none;
}

.tableOfContents a:hover {
  text-decoration: underline;
}
