.button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1dd1a1;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, transform 0.2s, background-color 0.3s;
  opacity: 0.8;
  padding: 8px;
}

.button:hover {
  background-color: #10ac84;
  transform: scale(1.1);
  opacity: 1;
}

.button:active {
  transform: scale(0.95);
}

.icon {
  display: none;
}

.text {
  display: inline;
}

@media (max-width: 600px) {
  .button {
    width: 25px;  /* Smaller width */
    height: 25px;  /* Smaller height */
    font-size: 12px;  /* Smaller font size */
    bottom: 10px;  /* Adjusted bottom position */
    right: 10px;  /* Adjusted right position */
    padding: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  }

  .icon {
    display: inline-block;
    font-size: 16px;  /* Smaller icon size */
  }

  .text {
    display: none;
  }
}
