.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1dd1a1;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, transform 0.2s, background-color 0.3s;
  opacity: 0.8;
  padding: 10px 20px;
  white-space: nowrap;
}

.button:hover {
  background-color: #10ac84;
  transform: scale(1.1);
  opacity: 1;
}

.button:active {
  transform: scale(0.95);
}

.icon {
  display: none;
}

.text {
  display: inline;
}

@media (max-width: 600px) {
  .button {
    width: 45px;
    height: 45px;
    font-size: 22px;
    bottom: 15px;
    right: 15px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .icon {
    display: inline-block;
  }

  .text {
    display: none;
  }
}
